* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 231, 217);
}

html {
    font-size: 62.5%;
}

.pokeball {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: .3rem;
}

h1 {
    font-size: 3rem;
    margin: 3rem 0rem 0rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    display: block;
    margin: auto;
    padding: .5rem;
    border: .3rem solid;
    border-radius: 1rem;
    border-color: black;
    width: 10rem;
    text-align: center;
    position: relative;
    top: 1.5rem;
    background-color: rgb(179, 179, 179);
}

article {
    display: block;
    margin: auto;
    padding: 1.5rem 3rem 0rem;
    border: .2rem solid;
    border-radius: 1rem;
    border-color: black;
    width: 30rem;
}

.img-pok {
    display: block;
    margin: auto;
    width: 15rem;
    height: 15rem;
}

li {
    margin: 1rem;
    text-align: left;
}

.type {
    width: 4rem;
}

.img-gen {
    width: 1.7rem;
    height: 1.7rem;
}
